
.brain {


    margin-left: -200px;
    margin-right: -200px;
    margin-bottom: 40px;
    background-color: #00ced1;
    text-align: center;
    color: white;
     padding: 30px
   

}


.search  {
    float: left;
    background-color: #eeeeee;

}


.weathercard {

    height: 350px;
}

.cardB {
    
    background-color:  #00ced1;
    color:   white;
    margin: 20px;   
    float: right;
    padding: 20px;
    border-radius: 7px;
    display: inline;
  
}


